body {
    font-family: 'Poppins', sans-serif;
    nav {
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
        display: flex;
        flex-direction: row;
        // justify-content: center;
        .left {
            // border-right: 1px solid #F4F4F4;
            width: 15%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .logo {}
        }
        .center {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .search-box {
                border-left: 1px solid #F4F4F4;
                border-right: 1px solid #F4F4F4;
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-left: 10px;
                .search-logo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                }
                .search-input {
                    height: 100%;
                    // border: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    // form {
                    input {
                        height: 25px;
                        width: 80%;
                        border: none;
                    }
                    input:focus {
                        border: none;
                        outline: none;
                    }
                    input::placeholder {
                        font-family: 'Poppins', sans-serif;
                        ;
                        font-size: 16px;
                        line-height: 15px;
                        color: #CECECE;
                    }
                    // }
                }
            }
        }
        .right {
            width: 15%;
            .actions {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .action {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                    .icon {
                        height: max-content;
                        width: max-content;
                        margin: auto 10px;
                        img {
                            width: 2vw;
                        }
                    }
                }
            }
        }
    }
    section {
        margin: auto 6%;
    }
    .welcome-message {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        h1 {
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 48px;
            /* identical to box height */
            text-align: center;
            color: #1C1C1C;
        }
        p {
            text-align: justify;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 160%;
            /* or 26px */
            text-align: center;
            color: #343434;
        }
    }
    .overview {
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            .card {
                flex: 1 0 25%;
                width: 25%;
                height: 376px;
                box-shadow: 0px 4px 12px rgba(215, 215, 215, 0.25);
                background: #E7E7E7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 2%;
                .icon {
                    width: max-content;
                    margin: 0 auto;
                }
                h2 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 157.2%;
                    text-align: center;
                    color: #012C3D;
                }
                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 160%;
                    text-align: center;
                    color: #343434;
                }
            }
        }
    }
    .deep-dive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 42px;
            color: #0275B1;
            text-align: center;
        }
    }
}